/*
COLOR PALETTE

#f7fff7 - almost white
#343434 - dark gray - almost black
#2f3061 - blue dark
#ffe66d - yellow
#a1c6d7 - light blue
*/

/* Global Styles
---------------------------------*/
body{
color: #343434;
}

img{
    width: 300px;
}

/* Profile
--------------------------------*/
header{
    background-color: #2f3061;
}

/* Projects
--------------------------------*/
.projects{
    background: #f7fff7;
}

/* Work Experience
--------------------------------*/
.work-experience{
    background: #a1c6d7;
}

/* Education
--------------------------------*/


/* Contact Info
--------------------------------*/